.Pokecard {

    border: 5px solid#00334d;
    border-radius: 15px;
    background-color:#e6f7ff;
    display: inline-block;
    width: 250px;
    margin: 25px;
    text-align: center;
    padding: 10px;
 
}

.Pokecard-img {

    width: 150px;
    
}

.Pokecard-text {
    
    font-size: 16px;

}